body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: brown;
    display:  flex;
    flex-direction: row-reverse;
   
}

.item{
    padding: 70px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex: 0 1 auto;
    align-self: auto;
    
}
.item1{
    background-color: goldenrod;
    order: 1;
    
}
.item2{
    background-color: darkcyan;
}
.item3{
    background-color: darkkhaki;
    order: 3;
}
.item4{
    background-color: cornsilk;
}