body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: brown;
    padding: 17px;
    display: flex; 
    height: 300px;
    flex-direction: column;
    /* flex-wrap: wrap;     */
    flex-wrap: wrap-reverse;

    
}

.item{
    background-color: coral;
    padding: 10px;
    margin: 7px;
    /* flex-direction: row-reverse; */
    
}